.main {
  background-color: #1abc9c;
  min-height: 679px;
}
.main #Row1 {
  margin-top: 7%;
}
.main .headContents {
  margin-top: 40px;
}
.main .headContents h1 {
  font-size: 64px;
}

.main p {
  font-size: 24px;
  font-family: sans-serif;
}

#navComp{
  background-color: #2c3e50;
  padding: 1.5rem;
}

.navbar-brand{
  color: white;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;

}
.nav-link {
  color: white !important;
}
.nav-item a:hover{
color:#198754 !important;
}



.nav-item{
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar #navMain button {
  display: none;
}

.portfolio-text-center {
  margin-bottom: 5px;
  
}



#renk {
  background-color: #1abc9c;
  padding-top: 1.5rem;
  
}

#en {
  background-color: #2c3e50;
  color: white;
}

#loc {
  margin-top: 10px;
}

.copyright{
  background-color: #1a252f;
  color: white;
  text-align: center;
}


.footer{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.btn{ 
  
  padding-top: 16px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 16px;
  border-radius: 5px;
  
}

.kelimeyapma{
  font-size: medium;
  text-align: center;
  font-weight: 500;
}

.lead{
  text-align: start;
  font-size: 1.25rem;
  font-weight: 400;
}

.img-fluid {
  border-radius: 2%;
}